h1{
    color:black;
    size: 100px;
    text-align: center;
}
.conti,.perro{
    display: flex;
    justify-content: center;
    grid: auto;
    margin: auto;
    width: 50%;
}
.output{
    flex: center;
    color: green;
}


